<!doctype html>
<html>
  <head>
    <title>Face Value</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/xkn2niw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   </head>
  <body>

    <section id="vert-nav">
       <nav role='navigation'>
        <ul class="topmenu">
          <li class="topmenu-item" >
            <a href="/" class="home">Home</a>
          </li>
          <li class="topmenu-item <%- current.path[0] == 'science' ? 'current' : '' %>">
            <a class="nav-icons" href="/science">
              <i class="icon-Science"></i>
              Science
            </a>
          <ul class="submenu science">
            <% for(var slug in public.science._data){ %>
              <% var page = public.science %>
              <li class="submenu-item <%- current.source == slug ? 'current' : '' %>">
                <a class="nav-icons" href="/science/<%= slug %>">
                  <i class="<%= page._data[slug].icon_class %>"></i>
                  <%= page._data[slug].title %>
                </a>
              </li>
            <% }; %>
          </ul>
          </li>

          <li class="topmenu-item <%- current.path[0] == 'faces' ? 'current' : '' %>">
            <a class="nav-icons" href="/faces">
              <i class="icon-Faces"></i>
              Faces
            </a>
            <ul class="submenu faces">
            <% for(var slug in public.faces._data){ %>
              <% var page = public.faces %>
              <li class="submenu-item <%- current.source == slug ? 'current' : '' %>">
                <a class="nav-icons" href="/faces/<%= slug %>">
                  <i class="<%= page._data[slug].icon_class || 'icon-Dot' %>"></i>
                  <%= page._data[slug].title %>
                </a>
              </li>
            <% }; %>
          </ul>
          </li>
        </ul>
      </nav>
    </section>

    <div class="hor-nav">
      <ul class="breadcrumb-nav">
      <% for(var i in current.path) { %>
        <% if (current.path[i] !== 'index') { %>
        <% var slug = [] %>
        <% for (var j=0; j <= i; j++) { slug.push(current.path[j]) }; %>
          <li class="breadcrumb-link" >
            <a href="/<%= slug.join('/') %>"><%= current.path[i] %> /</a>
          </li>
        <% }; %>
      <% }; %>
        <li class="conclusion"> <a href="/conclusion" class="conclusion"> CONCLUSION </a></li>
      </ul>
    </div>

    <main class="content">
      <%- yield %>
    </main>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>